.create-recipe {
    width: 960px;
    background-color: var(--light-grey);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-recipe-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    width: 100%;
    background-color: var(--dark-red)
}

.upload-recipe-heading {
    color: var(--light-red);
    font-size: 1.125rem;
}

.cutlery-icon {
    height: 40px;
}

.add-row-button {
    display: inline-block;
    cursor: pointer;
}

.dish-label, .description-label {
    display: flex;
    flex-direction: column;
}

.keywords {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
}

.add-row-button {
    padding-top: auto;
    padding-bottom: 0;
}

.add-row-button:hover {
    transform: rotate(15deg);
}

textarea{
    height: 100px;
    width: 100%;
}

.wide-input, .description-textarea{
    width: 100%;
    /* width: calc(100% - 55px); */
}

.right-align{
    display: flex;
    margin-top: 20px;
    border-top: 1px solid var(--dark-red);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
    justify-content: flex-end;
}

.image-path{
    margin-top: 20px;
    margin-left: 20px;
    color: var(--red);
}

.upload-image{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-direction-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.input-ingredient-row{
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.input-ingredient-row input{
    margin-bottom: 10px;
}

.input-direction-row textarea{
    margin-bottom: 10px;
}