.dev {
  width: 275px;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: 1px solid var(--dark-red);
  border-radius: 5px;
  background-color: var(--light-blue);
  cursor: pointer;
}

.dev:hover{
  background-color: var(--light-grey);
}

.dev-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--dark-red);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#dev-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#about-page-button {
  margin-top: 20px;
  width: 100px;
  background-color: var(--light-red);
  color: var(--dark-red);
  padding: 5px 0;
  cursor: pointer;
  border: 1px solid var(--dark-red);
}