@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* feel free to update these css variables for a quick theme */

    --dark-red: #330000;
    --dark-red-trans: #330000dd;
    --red: #ff0000;
    --light-grey: #F2CECE;
    --light-blue: #F7FFFF;
    --blue: #008080;
    --light-red: #FFFAFA;

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/

    --header-height: 80px;
    --shadow: 0px 0px 5px rgba(0,0,0,0.45);
    --footer-shadow: 0px 0px 20px -3px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 35px;

    margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    color: var(--dark-red);
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--light-red);
}

#logo{
    height: 70px;
}

main {
    padding-top: 130px;
    width: innerWidth;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

input{
    width: 250px;
    padding: 5px
}

.auth-container{
    display: flex;
    justify-content: center;
}

.auth-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px
}

h2 {
    font-size: 3.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.email, .password{
    margin-top: 10px;
    margin-bottom: 3px;
}

header {
    padding: 30px 50px 0 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey);
    height: 100px;
    box-shadow: var(--shadow);
    width: 100vw;
}

.login-status-div{
    width: 250px;
    height: 100%;
    display: flex;
    padding-left: 0;

}

.name-status{
    width: 200px;
    height: 50px;
}

#logout-button{
    margin: 0;
}

.login-div{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 20px;
    gap: 20px;
    position: absolute;
    width: 300px;
    margin-left: 20px;
    top:0;
    height: 100%;
}

button:hover{
    background-color: var(--red);
    color: var(--dark-red);
    border: 1px dashed var(--dark-red);
}

button{
    margin-top: 20px;
    width: 100px;
    background-color: var(--light-red);
    color: var(--dark-red);
    padding: 5px 0;
    cursor: pointer;
    border: 1px solid var(--dark-red);
}

.add-recipe{
    cursor: pointer;
}

.add-recipe:hover{
    transform: rotate(15deg);
}

.icon-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.logo-type{
    font-weight: 900;
    color:var(--red);
    font-style: normal;
    font-family: 'Bitter';
    font-size: 3rem;
    font-style: italic;
    padding-left: 0;
    margin-left: 0;
    text-shadow:
        1px 1px 1px var(--blue),
        -1px 1px 1px var(--blue),
        1px -1px 1px var(--blue),
        -1px -1px 1px var(--blue)
}

.logo-type:hover{
    text-decoration: underline;
}

.sync{
    font-weight: 900;
    font-family: Bitter;
    font-style: normal;
    color: var(--light-red);
    text-shadow:
        1px 1px 1px var(--blue),
        -1px 1px 1px var(--blue),
        1px -1px 1px var(--blue),
        -1px -1px 1px var(--blue)
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--light-grey);
    color: var(--dark-red);
    box-shadow: var(--footer-shadow);
}

#logo{
    height: 100%;
    margin-right: 10px;
    padding-bottom: 20px;
    /* height: 110px;
    margin-bottom: 30px;
    padding: 20px; */
}

.top{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items:center;
}

.visibility{
    pointer-events: none;
    opacity: 0;
}

.profile-image{
    object-fit: contain;
    height: 60px;
    border-radius: 40px;
    margin-left: 0;
    margin-right: auto;
    cursor: pointer;
}

.logged-in-div{
    margin-left: 20px;
    margin-bottom: 20px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 200px;
    height: 100%;
    bottom: 0;
}

.name-status{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user-name{
    font-weight: 900;
    cursor: pointer;
}

.user-rank{
    cursor: pointer;
}

.points{
    font-weight: 900;
    color: var(--red);
}

.card-inner{
    cursor: pointer;
}

.go-home{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}